@font-face {
    font-family: "Tengwar Annatar";
    /*TODO
     add italic Tengwar
     add Tengwar Noldor*/
    src: url('../main/fonts/tngan.ttf') format('truetype');
}

.page {
border: 1px solid;
padding: 5px;
margin-top: 12px;
min-height: 50px;
position-relative;
}

body {
  background:lightgrey;
  margin: 10;
  font-family: Calibri, Tahoma;
}

.page{
    border: 1px solid;
    padding: 5px;
    margin-top: 12px;
    min-height: 50px;
    position-relative;
}
.my-container {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.buttonarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    padding: 5px;
}

.inputSection{
    padding: 5px;
    border:2px solid Tomato;
}

.outputSection{
    padding: 5px;
    border:2px solid Green;
    font-family: "Tengwar Annatar", Calibri, Tahoma

}